
<div class="row">

    <div class="col-lg-12">

        <div class="ibox">
            <div class="pb-0 section-navbar">
                <ul class="nav page-tab section-navbar-scroll" role="tablist">
                    <li><a class="nav-link @Html.IsSelected(action: "Resume", cssClass: "active")" href="@Url.Action("Resume", "Candidates")">Resume</a></li>
                    <li><a class="nav-link @Html.IsSelected(action: "SeeNotes", cssClass: "active")" href="@Url.Action("SeeNotes", "Candidates")">See Notes</a></li>
                    <li><a class="nav-link @Html.IsSelected(action: "SubmitToJob", cssClass: "active")" href="@Url.Action("SubmitToJob", "Candidates")">Submit To Job</a></li>
                    <li><a class="nav-link @Html.IsSelected(action: "ScreeningQuestions", cssClass: "active")" href="@Url.Action("ScreeningQuestions", "Candidates")">Screening Questions</a></li>
                    <li><a class="nav-link @Html.IsSelected(action: "JobHistory", cssClass: "active")" href="@Url.Action("JobHistory", "Candidates")">Job History</a></li>
                </ul>

            </div>
        </div>
    </div>
    
</div>

