@using Microsoft.AspNetCore.Hosting;
@using SSXImport.Portal.Common;
@{
    Layout = "~/Views/Shared/_Common.cshtml";
    ViewData["Title"] = "Template";
}
<div class="wrapper wrapper-content animated fadeInRight">
    ViewBag value: @ViewBag.applicationGuid <br /> @ViewData["key1"]
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title  pt-2">
                    <a class="btn btn-white" href="@Url.Action("TemplateForm","Template")"> <i class="fa fa-plus"></i> Add New Template</a>
                    <br />

                </div>
                <div class="ibox-content">
                    <div class="" id="divAlertMessage">
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" value="" placeholder="Search" id="search">
                        </div>
                        <div class="col-md-4 d-none">
                            <button class="btn btn-primary" type="button" id="btnSearch"><i class="fa fa-search"></i> Search</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table  table-bordered dataTables" width="100%" id="tblTemplate">
                            <thead>
                                <tr>
                                    <th width="2.5%">#</th>
                                    <th>Template Name</th>
                                    <th>Source</th>
                                    <th>Target</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {

}

@section Scripts {
    <script type="text/javascript">

        var valueFromViewData = '';
        var valueFromViewBag = '';

        $(document).ready(function () {
            valueFromViewData = '@ViewData["key1"]';
            valueFromViewBag = '@ViewBag.applicationGuid';

        });

    </script>

    <script src="~/js/Template/TemplateList.js"></script>
    @*<environment include="Development">
            <script src="~/js/Template/TemplateList.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/js/Template/TemplateList.min.js"></script>
        </environment>*@
}