@model List<PropertyERP.Areas.Transactions.Models.ActivityUI>
@if (Model != null)
{
    foreach (var item in Model.Where(o => o.ActivityTypeId == 2))
    {
        <div class="col-lg-12 p-0">
            <div class="schedule-box">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card list-card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-9 col-lg-12">
                                        <div class="list-details">
                                            <div class="list-details-section">
                                                <h4>Subject:</h4>
                                                <span>@item.CalllogSubjectName</span>
                                            </div>
                                            <div class="list-details-section">
                                                <h4>Comment:</h4>
                                                <span>@item.CommentName</span>
                                            </div>
                                        </div>
                                        <div class="list-details d-block">
                                            <div class="list-details-section w-100">
                                                <h4>Description:</h4>
                                                <span>@item.Calllog_Description</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-12">
                                        <div class="action-area follow-up-area">
                                            <div class="list-details">
                                                <div class="list-details-section status-area">
                                                    <button type="button" class="btn btn-primary btn-sm" onclick="fnEditActivity(@item.Id, 2);" title="Edit Followup"><i class="fas fa-edit"></i></button>
                                                    <button type="button" class="btn btn-danger btn-sm" onclick="fnDeleteActivity(@item.Id, 2);" title="Delete Followup" hidden><i class="fas fa-trash-alt"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-lg-9">
                        <div class="modal-card">
                            <div class="features-list">
                                <label class="list-features-label">Subject:</label>
                                <label class="list-features-text assignto-label">@item.CalllogSubjectName</label>
                            </div>
                            <div class="features-list">
                                <label class="list-features-label">Comment:</label>
                                <label class="list-features-text assignto-label">@item.CommentName</label>
                            </div>
                            <div class="features-list">
                                <label class="list-features-label">Description:</label>
                                <label class="list-features-text assignto-label">@item.Calllog_Description</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-primary btn-sm" onclick="fnEditActivity(@item.Id, 2);" title="Edit Followup"><i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="fnDeleteActivity(@item.Id, 2);" title="Delete Followup"><i class="fas fa-trash-alt"></i></button>
                    </div>-->
                </div>
            </div>
        </div>
    }
}